<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">GymShark</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle Header">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Womens
          </a>
          <ul class="navbar-nav" class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="nav-link" class="dropdown-item" class="navbar-nav" class="nav-item" href="#">All Producs</a>
            </li>
            <li><a class="nav-link" class="dropdown-item" class="nav-item" href="#">Bottoms & Leggings</a></li>
            <li><a class="nav-link" class="dropdown-item" class="nav-item" href="#">Crop Tops</a></li>
            <li><a class="nav-link" class="dropdown-item" class="nav-item" href="#">Hoodies & Jackets</a></li>
            <li><a class="nav-link" class="dropdown-item" class="nav-item" href="#">Shorts</a></li>
            <li><a class="nav-link" class="dropdown-item" class="nav-item" href="#">Underwear</a></li>
            <li><a class="nav-link" class="dropdown-item" class="nav-item" href="#">Sports Bras</a></li>
            <li><a class="nav-link" class="dropdown-item" class="nav-item" href="#">Tank tops</a></li>
            <li><a class="nav-link" class="dropdown-item" class="nav-item" href="#">T-Shirts & Tops</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Mens
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" class="nav-item" href="#">All Producs</a></li>
            <li><a class="dropdown-item" class="nav-item" href="#">Hoodies & Jackets</a></li>
            <li><a class="dropdown-item" class="nav-item" href="#">T-shirts & Tops</a></li>
            <li><a class="dropdown-item" class="nav-item" href="#">Bottoms & Joggers</a></li>
            <li><a class="dropdown-item" class="nav-item" href="#">Shorts</a></li>
            <li><a class="dropdown-item" class="nav-item" href="#">Stringers</a></li>
            <li><a class="dropdown-item" class="nav-item" href="#">Tanks</a></li>
            <li><a class="dropdown-item" class="nav-item" href="#">Tracksuits</a></li>
            <li><a class="dropdown-item" class="nav-item" href="#">Underwear</a></li>
            <li><a class="dropdown-item" class="nav-item" href="#">Base Layers</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Accessories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" class="nav-item" href="#">All Producs</a></li>
            <li><a class="dropdown-item" class="nav-item" href="#">Bags</a></li>
            <li><a class="dropdown-item" class="nav-item" href="#">Socks</a></li>
            <li><a class="dropdown-item" class="nav-item" href="#">Headwear</a></li>
            <li><a class="dropdown-item" class="nav-item" href="#">Equipment</a></li>
            <li><a class="dropdown-item" class="nav-item" href="#">Bottles</a></li>
          </ul>
        </li>

      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>