<div class="container">
    <footer class="row row-cols-5 py-5 my-5 border-top">

       
        <div class="col">
            <h5>HELP</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQ</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Delivery Information</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Returns Policy</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Make A Return</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Orders</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Submit A Fake</a></li>
            </ul>
        </div>

        <div class="col">
            <h5>My ACCOUNT</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Login</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Register</a></li>
            </ul>
        </div>

        <div class="col">
            <h5>Pages</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Gymshark Central</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About Us</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Careers</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Student Beans</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Transparency Report</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Accessibility Statement</a></li>
            </ul>
        </div>
    </footer>
</div>