<div class="card">
    <div class="card-body">
        <p class="card-title position-absolute top-50 start-50 translate-middle">KLARNA</p>
    <img src = {{img}}  class="card-img-top px-4">
    </div>
        
        <div class="card-body ps-0 pb-0">
            <h5 class="card-title ps-0 pb-0">Our Price: ${{price}}</h5>
        <a href="#" class="card-link round-card">READ MORE</a>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
        <p class="card-title">STUDENT DISCOUNT</p>
    </div>
        
        <div class="card-body ps-0 pb-0">
            <h5 class="card-title ps-0 pb-0">Our Price: ${{price}}</h5>
        <a href="#" class="card-link">READ MORE</a>
    </div>

    <div class="card">
        <div class="card-body">
            <p class="card-title">AFTERPAY</p>
        </div>
            
            <div class="card-body ps-0 pb-0">
                <h5 class="card-title ps-0 pb-0">Our Price: ${{price}}</h5>
            <a href="#" class="card-link round-link">READ MORE</a>
        </div>

        