<div class="card">
    <div class="card-body">
        <p class="card-title position-absolute top-50 start-50 translate-middle">KLARNA</p>
    </div>
        
        <div class="card-body">
        <a href="#" class="card-link round-card">READ MORE</a>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
        <p class="card-title">STUDENT DISCOUNT</p>
    </div>
        
        <div class="card-body">
        <a href="#" class="card-link">READ MORE</a>
    </div>

    <div class="card">
        <div class="card-body">
            <p class="card-title">AFTERPAY</p>
        </div>
            
            <div class="card-body">
            <a href="#" class="card-link round-link">READ MORE</a>
        </div>

        